body {
}


ul li {
    list-style:none;
    float:left;
    margin-left:50px auto;
    background:#585858;
    display:table-cell;
    border-right:1px solid;  
}

ul li a {

    text-decoration:none;
    font-family:Arial;
    font:100;
    color:white;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
    display:table;
    table-layout:fixed;
    overflow:hidden;
    display:block;
}

ul li:hover {
   
    background:#BDBDBD;
    transition:all 0.5s;
    
}



